.chatgpt-personality-selector-toolbar {
    margin: 0.5em 0em;
    display: flex;
    align-items: end;
}

*:before, 
*:after {
    box-sizing: border-box;
}

.chatgpt-personality-selector-toggle {
    cursor: pointer;
    display: inline-block;
    padding: 0.5em 0;
}

.chatgpt-personality-selector-toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 8px;
    width: 29px;
    height: 16px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

.chatgpt-personality-selector-toggle-switch:before,
.chatgpt-personality-selector-toggle-switch:after {
    content: "";
}

.chatgpt-personality-selector-toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.25);
    width: 12px;
    height: 12px;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.25s;
}

.chatgpt-personality-selector-toggle:hover .chatgpt-personality-selector-toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.5);
}

select{
    border-radius: 10px;
    margin: 10px;
}
.chatgpt-personality-selector-toggle-label {
    color:white;
    margin-left: 5px;
    position: relative;
    top: 2px;
}

span{
    color:white;
}

#language-select {
    border: 0;
    vertical-align: middle;
    background: transparent;
    -webkit-appearance: none;
    appearance: none;
    padding-left: 5px;
}

button{
    border-radius: 10px;
}

.flex {
    display: flex;
  }
  
.items-center {
    align-items: center;
}

.flex-1 {
    flex: 1;
}

.ml-2 {
    margin-left: 0.5rem;
}

.color {
    color: red;
}

select{
    width:100%,
    color:black,
    borderRadius:10px,
    marginRight:20px
}