.chatgpt-personality-selector-toolbar {
    margin: 0.5em 0em;
    display: flex;
    align-items: end;
}

*:before, 
*:after {
    box-sizing: border-box;
}

.chatgpt-personality-selector-toggle {
    cursor: pointer;
    display: inline-block;
    padding: 0.5em 0;
}

.chatgpt-personality-selector-toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 8px;
    width: 29px;
    height: 16px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

.chatgpt-personality-selector-toggle-switch:before,
.chatgpt-personality-selector-toggle-switch:after {
    content: "";
}

.chatgpt-personality-selector-toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.25);
    width: 12px;
    height: 12px;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.25s;
}

.chatgpt-personality-selector-toggle:hover .chatgpt-personality-selector-toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.5);
}

select{
    border-radius: 10px;
    margin: 10px;
}
.chatgpt-personality-selector-toggle-label {
    color:white;
    margin-left: 5px;
    position: relative;
    top: 2px;
}

span{
    color:white;
}

#language-select {
    border: 0;
    vertical-align: middle;
    background: transparent;
    -webkit-appearance: none;
    appearance: none;
    padding-left: 5px;
}

button{
    background-color: #444;
    color: #fff;
    transition: background-color .2s;
}

button:hover{
    background-color: red;
}
.close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #444;
    color: #fff;
    transition: background-color .2s;    
}
.close-button:hover {
    background-color: red;
}

.floating-div {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -200px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #888888;
    z-index: 1000;
}

.content-div{
    margin-left: 10px;
    margin-right: 10px;
}

.title-bar {
    height: 45px;
    background-color: #333;
    color: #fff;    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 20px;
    padding-top: 10px;
    font-weight: bold;
}
.bottom-div {
    position: absolute;
    bottom: 0;
    margin: 10px;
}
form{
    order: 2;
}

.settings-btn{
    width: 25px;
}


.flex {
    display: flex;
}
  
.items-center {
    align-items: center;
}

.flex-1 {
    flex: 1;
}

.ml-2 {
    margin-left: 0.5rem;

}

.ml-2:hover {
    margin-left: 0.5rem;
    background-color: beige;
}

.color {
    color: red;
}
.audio-out-button{
    width:25px;
}
.settings-btn{
    width:25px;
}
select {
    width: 200px !important; /* set the width of the select */
    color: black !important; /* set the text color */
    background-color: lightgray !important; /* set the background color */
  }