name: Translate CSV
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  process-csv:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        pip install pandas torch transformers

    - name: Run script
      run: |
        python extra/translator.py

    - name: Commit changes
      uses: actions/github-script@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        script: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git add prompts_fr-FR_out.csv
          git commit -m "Processed CSV file"
          git push origin main
